<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747533031517-lpojvo65uojfucodci7egn722m2f4ucg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747533031517-lpojvo65uojfucodci7egn722m2f4ucg</string>
	<key>API_KEY</key>
	<string>AIzaSyDf5a-mj2QLLjZJqk4oOt8BjfwvEwA5Cu0</string>
	<key>GCM_SENDER_ID</key>
	<string>747533031517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mooverDriver</string>
	<key>PROJECT_ID</key>
	<string>moover-c222d</string>
	<key>STORAGE_BUCKET</key>
	<string>moover-c222d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747533031517:ios:13e571976c8dfed2</string>
	<key>DATABASE_URL</key>
	<string>https://moover-c222d.firebaseio.com</string>
</dict>
</plist>