<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747533031517-bkd7qdbv4l0e5vflub4ak2ipqgtpahfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747533031517-bkd7qdbv4l0e5vflub4ak2ipqgtpahfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>747533031517-mh71815sfccau588i3t9im9askalfukr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf5a-mj2QLLjZJqk4oOt8BjfwvEwA5Cu0</string>
	<key>GCM_SENDER_ID</key>
	<string>747533031517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moover</string>
	<key>PROJECT_ID</key>
	<string>moover-c222d</string>
	<key>STORAGE_BUCKET</key>
	<string>moover-c222d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747533031517:ios:422d2eb2fb6350a5</string>
	<key>DATABASE_URL</key>
	<string>https://moover-c222d.firebaseio.com</string>
</dict>
</plist>